/*div{
    height:100%;
     Width:fit-content;
     background-color:rgba(229, 217, 218, 0.93);*/
     #wrap{
        margin:30;
        margin-left:3px;
        padding-left:20px;
        height:fit-content;
    
      }
.left {
  height: 850px;
  width:20%;
  overflow-x: hidden;
  float:left;
  padding: 10px;
  background-color:antiquewhite;
  
  }
  
  /*right side */
  .right {
  height: 850px;
  width:50%;
  overflow-x: hidden;
  float:left;
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.823);
  }
  #cer{
    font-size:10px;
    font-weight:10;
    color:rgb(15, 3, 27);
    font-style
  }
 
